python main_wrapper.py -b 11 -m 01000100 -v 0 -r 96 -d 3 -t 5 -w 64 -c 0.22 -g 1 -a 0.0 -z 0.1 -D 5 --make no
python main_wrapper.py -b 11 -m 01000100 -v 0 -r 96 -d 5 -t 5 -w 64 -c 0.22 -g 1 -a 0.0 -z 0.1 -D 8 --make no
python main_wrapper.py -b 11 -m 01000100 -v 0 -r 96 -d 8 -t 5 -w 64 -c 0.22 -g 1 -a 0.0 -z 0.1 -D 10 --make no
python main_wrapper.py -b 11 -m 01000100 -v 0 -r 96 -d 10 -t 5 -w 64 -c 0.22 -g 1 -a 0.0 -z 0.1 -D 5 --make no